<p style="color: green"><%= notice %></p>

<%= render @ator %>

<div>
  <%= link_to "Editar Ator", edit_ator_path(@ator) %> |
  <%= link_to "Voltar para atores", ators_path %>

  <%= button_to "Deletar ator", @ator, method: :delete %>
</div>
